@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: #f3f3f2;
	--background: #121212;
	--primary: #9fc3d2;
	--secondary: #34376f;
	--accent: #8379a5;
	--muted: #80989b;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
